Projekt_Kompetencyjny/*.iml
Projekt_Kompetencyjny/.gradle
Projekt_Kompetencyjny/local.properties
Projekt_Kompetencyjny/.idea/caches
Projekt_Kompetencyjny/.idea/libraries
Projekt_Kompetencyjny/.idea/modules.xml
Projekt_Kompetencyjny/.idea/workspace.xml
Projekt_Kompetencyjny/.idea/navEditor.xml
Projekt_Kompetencyjny/.idea/assetWizardSettings.xml
Projekt_Kompetencyjny/build
Projekt_Kompetencyjny/captures
Projekt_Kompetencyjny/.externalNativeBuild
Projekt_Kompetencyjny/.cxx
Projekt_Kompetencyjny/.idea


Projekt_Kompetencyjny_Serwer/*.iml
Projekt_Kompetencyjny_Serwer/.idea
Projekt_Kompetencyjny_Serwer/target
